<% provide(:title, 'Home') %>
</div>
</div>
</div>
<div id="clouds">

	<div class="cloud x1"></div>
		
	<!-- Time for multiple clouds to dance around -->
	<div class="cloud x2"></div>
<center><%=image_tag("http://i43.tinypic.com/2zp4aaf.png")%>

	<div class="cloud x3"></div>

	<div class="cloud x4"></div>
	<div class="cloud x5"></div>



    <%= render 'layouts/footer' %>
		</div>
</body>